*{
    background-color: rgb(145, 115, 201);
    justify-content: center;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    inline-size: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 20%;
}